:root
{
  --hue: 220;
}

*, ::after, ::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: clamp(14px + 1vw, 2vw, 2vw + 1rem);
}

*:focus
{
  outline: solid .3vw hsl(50, 100%, 40%);
}

.invert
{
  --hue: 60;
  filter: invert();
}

body
{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: hsl(var(--hue), 100%, 100%);
  font-family: 'Courier New', Courier, monospace;
}

nav
{
  height: 100%;
  padding-top: 2%;
  width: calc(40px + 2.5rem);
  background-color: hsl(var(--hue), 80%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav ul
{
  height: clamp(20rem, 580px, 70vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease;
}

nav ul li
{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: hsl(var(--hue), 60%, 20%);
  border-radius: 2rem;
}

nav ul li:hover
{
  background-color: hsl(var(--hue), 60%, 50%);
  border: .3vh hsl(var(--hue), 100%, 100%);
}

nav ul li:nth-of-type(2)
{
  background-color: hsl(var(--hue), 60%, 60%);
}

nav ul li a
{
  width: calc(16px + 1.4rem);
  height: calc(16px + 1.4rem);
  display: flex!important;
  align-items: center;
  justify-content: center;
  color: hsl(var(--hue), 0%, 0%);
  background-color: hsl(var(--hue), 100%, 100%);
  text-decoration: none;
  border-radius: 2rem;
  box-shadow: .5vh .5vh hsl(var(--hue), 10%, 5%);
  transition: all 0.3s ease;
}

nav ul li a:hover
{
  width: calc(16px + 1.5rem);
  height: calc(16px + 1.5rem);
  filter: invert();
  font-size: 2rem;
  cursor: pointer;
}

nav ul li span
{
  width: 80%;
  text-align: center;
  display: none;
}

nav ul li input
{
  height: 100%;
  width: 80%;
  text-align: center;
  color: hsla(var(--hue), 0%, 0%);
  background-color: hsl(var(--hue), 60%, 60%);
  border-width: 0px;
  border-radius: 2rem 2rem;
  display: none;
}

nav ul li:nth-of-type(2):hover, nav ul li input:hover 
{
  background-color: hsl(var(--hue), 60%, 80%);
}

nav ul li input:active
{
  border: solid 1px hsl(var(--hue), 100%, 100%);
}

main
{
  width: 100%;
  padding: 2%;
  background-color: hsl(var(--hue), 30%, 5%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

main h1
{
  width: 100%;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  background-color: hsl(var(--hue), 80%, 15%);
  color: hsl(var(--hue), 100%, 100%);
  word-wrap: break-word;
  border-radius: 1rem 1rem 0 0;
}

main p
{
  padding: 2%;
  background-color: hsl(var(--hue), 90%, 90%);
  color: hsl(var(--hue), 10%, 5%);
  border-radius: 0 0 1rem 1rem;
}